*{margin: 0;padding: 0;box-sizing: border-box;}
body{font-family: Arial, Helvetica, sans-serif;background-color:lightgray;}

.card{
    background-color: #e2e2e2;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.api-card{
    background-color: lightgray;
    padding: 40px;
}

.card p{
    font-size: 40px;
    color: grey;
    font-weight: 800;
}

.container{
    max-width: 1000px;
    margin: 40px auto;
    background-color: rgb(255, 255, 255);
    padding: 40px;
}
.cardContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}


.navbar{
    max-width: 1000px;
    margin: auto;
    padding: 40px;
    background-color: rgb(255, 255, 255);
}

.navbar nav ul{
    list-style-type: none;
}

.navbar nav ul li{
    display: inline;
    margin: 0 18px;
}

a{
    text-decoration: none;
    color: black;
}


form{
    margin: 30px auto;
}
form input{
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    outline: 0;
    border: rgb(139, 139, 139) solid 4px;
}