*{margin: 0;padding: 0;box-sizing: border-box;}
body{font-family: Arial, Helvetica, sans-serif;background-color:lightgray;}

.card{
    background-color: #e2e2e2;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.api-card{
    background-color: lightgray;
    padding: 40px;
}

.card p{
    font-size: 40px;
    color: grey;
    font-weight: 800;
}

.container{
    max-width: 1000px;
    margin: 40px auto;
    background-color: rgb(255, 255, 255);
    padding: 40px;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.slider-container{
  background-color: rgb(255, 255, 255);
}
.cardContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}





.navbar{
    max-width: 1000px;
    margin: auto;
    padding: 40px;
    background-color: rgb(255, 255, 255);
}

.navbar nav ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 20px;
}

.navbar nav ul li{
    display: inline;
    white-space: nowrap;
}

a{
    text-decoration: none;
    color: black;
}


form{
    margin: 30px auto;
}
form input{
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    outline: 0;
    border: rgb(139, 139, 139) solid 4px;
    margin: 10px 0;
}



/*Slider css------------------------------*/


.App {
  text-align: center;
}
 
.App-logo {
  height: 40vmin;
}
 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
 
.App-link {
  color: #09d3ac;
}


 
.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}


.slides {
  position: relative;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index:1 ;
  width: 40px !important;
  height: 40px !important;
}

.slides .slick-prev {
  left: 5%;
}

.slides .slick-next {
  right: 5%;
}


.display{
  width: 100%;
  text-align: center;
  background-color: lightgray;
  padding: 14px;
}

.btn-container{
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn{
  padding: 12px;
  color: white;
  background-color: rgb(97, 134, 255);
  font-size: 16px;
  border-radius: 4px;
  margin-top: 16px;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.btn2{
  padding: 12px;
  color: white;
  background-color: rgb(97, 134, 255);
  font-size: 16px;
  border-radius: 4px;
  border: 0;
  outline: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.crop-btn{
  padding: 12px;
  color: white;
  background-color: rgb(97, 134, 255);
  font-size: 16px;
  border-radius: 4px;
  border: 0;
  outline: 0;
  cursor: pointer;
  width: 100%;
}

.btn2 p{
  margin-left: 14px;
  margin-top: 2px;
}



/*Drag & Drop ------------------------------*/

.field-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 20px;
  overflow: hidden;
}

.field{
  background-color: lightgray;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.draggable-card{
  background-color: rgb(97, 134, 255);
  color: white;
  padding: 14px;
  margin-bottom: 16px;
  cursor: pointer;
}


/*Redux CSS*/

.simple-input{
  padding: 6px;
  font-size: 16px;
  width: 100%;
  outline: 0;
  border: 0;
}


/*Upload Image*/

.img-container{
  border: grey 1px solid;
  width: 360px;
  height: fit-content;
  margin: 20px auto;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.img-container img{
  width: 100%;
}

.choose-file{
  display: none;
}

.pop-up-box{
  min-height: 100vh;
  margin: auto;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.63);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center
}

.hide{
  display: none;
}

.progress-box{
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cross-btn{
  position: absolute;
  top: 0;
  right: 0;
  margin: 40px;
  cursor: pointer;
}

.cross-btn .MuiSvgIcon-root{
  color: white;
  font-size: 40px;
}

.crop-field{
  width: 600px;
  margin: auto;
  padding: 40px;
  background-color: white;
}